
/* Barra de navegación */
.container-fluid {
    display: flex;
    float: center;
    justify-content: space-between;
    background-color: coral;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 5px 0px 5px;

}

.navlista{
    margin-left: 10%;
    
}

/*carrusel*/
.carousel-inner {
    margin-bottom: 10px;
}

.carruselheader{
    color: black;
}

.fototextocard{
    display: flex;
    flex-direction: row;
    border: dotted;
    
}

.fototexto{
    display: block;
   
}

#imagen{
    width: 50%;
}

/*Títulos*/
.req {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-weight: bolder;

}

/* botón formulario */
.boton {
    background-color: indianred;
    color: black;
    border-radius: 5px;
    margin-top: 10px;
    
}

/* tarjetas */
.rescatados {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-bottom: double coral;
    width: 400px;
}

/* tarjetas */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2px;
    grid-gap: 5px;
}

/* tarjetas */
.grid-item {
    border: outset;
    border-width: 2px;
    border-color: coral;
}

/* formularios */
.form{
   text-align: center;
    
}

/* medios para donar */
.dona{
    font-weight: bolder;
    

}

.cartas{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}   

.cartasp{
    text-align: center;
}

.btn1, .btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: coral;
    color: black;
    text-decoration: none;
    border: 2px solid;
    cursor: pointer;
    border-radius: 5px;
}

.botondona{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.footer{
    margin-top: 10px;
}
.navegadorfooter{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    margin-left: 35%;
    
}
.iconofooter{
    cursor: pointer;
}

#whatsapp{
    display: inline;
    position: fixed;
    left: 88%;
    top: 90%;
    scale: 1.5;
    color: green;
    box-shadow: -3px 3px 15px 0px rgba(0, 0, 0, 0.664) !important;
    border-radius: 100%;
    cursor: pointer;
    
   
}

@media (max-width: 500px) {
    .logogato{
        display: none;
    }
    .cartas{
        flex-direction: column;
        align-items: center;
    }
    .navegadorfooter{
        margin-left: 0;
    }
    #whatsapp{
        top: 80%;
    }
}
