*{
    display: flexbox;
   flex-wrap: wrap;
}

/* Barra de navegación */
.container-fluid{
    display: flex;
    float: center;
    justify-content: space-between;
    background-color: coral;
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    
}

.carousel-inner{
    margin-bottom: 10px;
}

/*Títulos*/
.req{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-weight: bolder;

}

/* botón catfecito */
.btn1{
    background-color: coral;
    color: bisque;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

/* botón doná */
.btn2{
    background-color: darksalmon;
    color: black;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;  
}

/* botón formulario */
.boton{
    background-color: indianred;
    color: black;
    border-radius: 5px;
}

.refugio{
    display: flex;
    flex-direction: row-reverse;
    text-align: start;
    font-family: sans-serif;
    height: 300px;
    box-shadow: 0px 0px 7px 0px; 
   
}

.grid-container{
    display: grid;
    grid-template-rows: auto;
   padding: 2px;
   grid-gap: 5px;
}

.rescatados{
    display: flex;
    flex-direction: column;
    text-align: start;
    border-bottom: double coral;
    width: 400px;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
   padding: 2px;
   grid-gap: 5px;
}

.grid-item{
    border: outset;
    border-width: 2px;
    border-color: coral;   
}

/*@media (max-width: ){

}*/